button {
  font-size: x-large;
  width: 200px;
  padding: 20px;
}

button:hover {
  color: white;
  background-color: black;
}

thead:first-child {
  color: white;
  background-color: black;
}

tbody > tr:nth-child(odd) {
  background-color: lightgray;
}
